/* html, body { */
/* 	margin: 0; */
/* 	padding: 0; */
/* } */

.App {
	display: grid;
	height: 100vh;
	grid-template: auto 1fr auto / auto 1fr auto
}

.App > header {
	background: lightpink;
	padding: 2rem;
	grid-column: 1 / 4;
}

.App > .left-sidebar {
	background: lightblue;
	padding: 1rem;
	grid-column: 1 / 2;
}

.App > main {
	background: coral;
	grid-column: 2 / 4;
}

body {
	font-family: system-ui, sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	padding: 0;
}

nav li {
	border: 1px solid black;
}

.files {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	margin: 1rem;
}

.files li {
	height: 150px;
	width: 150px;
	padding: 0.2rem;
	border: 1px solid black;
}

.find-tags {
	margin-top: 1rem;
}

.find-tags li {
	border: 1px solid black;
	border-radius: 5px;
	padding: 0.2rem;
	margin-top: 0.2rem;
}
